<div *ngIf="formReady; else loading">
  <form [formGroup]="assessmentForm" (ngSubmit)="submitForm(assessmentForm.value)" class="needs-validation" ngNativeValidate>
    <div *ngFor="let question of questions" class="form-group" [formGroup]="assessmentForm">
      <div [ngSwitch]="question.inputType">
        <div *ngSwitchCase="'text'">
          <label [for]="question.name">{{question.text}}</label>
          <input type="text" [name]="question.name" [formControlName]="question.name" [id]="question.name" class="form-control" required >
        </div>
        <div *ngSwitchCase="'number'">
          <label [for]="question.name">{{question.text}}</label>
          <input type="number" [name]="question.name" [formControlName]="question.name" [id]="question.name" class="form-control" required>
        </div>
        <div *ngSwitchCase="'radio'" class="form-group">
          <!-- TODO: Replace with values from database -->
          <p>{{question.text}}</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" [name]="question.name" [formControlName]="question.name" [id]="question.name" value="Yes" required>
            <label class="form-check-label" [for]="question.name">Yes</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [name]="question.name" [formControlName]="question.name" [id]="question.name" value="No" required/>
            <label class="form-check-label" [for]="question.name">No</label>
          </div>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ng-template #loading>
  Loading...
</ng-template>
